<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqyj.dao.NewUserMapper">
	<resultMap id="newUser" type="com.hqyj.entity.NewUser">
		<result column="nu_id" property="nu_id"></result>
		<result column="name" property="name"></result>
		<result column="password" property="password"></result>
	    <result column="roles" property="roles"></result>
	    <result column="email" property="email"></result>
	</resultMap>



<insert id="addNewUser"  parameterType="com.hqyj.entity.NewUser" >
insert into new_user(name,password,roles,email) values(#{name},#{password},#{roles},#{email})
</insert>

<select id="selectNewUser"  resultMap="newUser">
select *from new_user
</select>

<insert id="addUser" parameterType="String">
insert into user (username,password,email) select name,password,email from new_user where name=#{name}
</insert>

<delete id="deletNewUser" parameterType="String"  >
delete from new_user where name=#{name}
</delete>
<select id="selectNewUserOne"  parameterType="String" resultMap="newUser">
select *from new_user where name=#{name}
</select>

</mapper>