<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqyj.dao.UserMapper">
	<resultMap id="user" type="com.hqyj.entity.User">
		<result column="u_id" property="u_id"></result>
		<result column="username" property="username"></result>
		<result column="password" property="password"></result>
		<result column="email" property="email"></result>
			<result column="verificationCode" property="verificationCode"></result>
		<association property="role" javaType="com.hqyj.entity.Role">
<result column="r_id" property="r_id"></result>
		<result column="roles" property="roles"></result>
		</association>
	</resultMap>



<select id="selectUser"  parameterType="String" resultMap="user">
select *from user where user.username=#{username}
</select>

<select id="selectUserAll"  resultMap="user">
select *from user ,role,user_role where user.u_id=user_role.u_id and role.r_id=user_role.r_id
</select>

<delete id="deleteUserbyName" parameterType="String">
delete from user where username=#{username}
</delete>

<update id="updateVerificationCode" parameterType="com.hqyj.entity.User">
update user set verificationCode=#{verificationCode} where username=#{username}
</update>

<update id="updatePassword" parameterType="com.hqyj.entity.User">
update user set password=#{password} where username=#{username}
</update>
</mapper>